.jumbotron {
	color: white;
	background-image: url("assets/background-jumbotron.jpg"); 
	font-family: Heveltica;
	background-size: cover;
	text-shadow: 2px 2px 4px #222;
}
.jumbotron p {
	color: white; 
	text-shadow: 2px 4px 4px #333;
}
